# WEEK 2: Python Basics for Data Analysis

**Programme:** Data Science  
**Course:** Data Visualization and Storytelling (Practical)  
**Duration:** 2 Hours Lecture + 2 Hours Practical  

---
## Course Overview
This notebook introduces basic Python programming concepts required for data analysis.
Students will learn how to write scripts, perform calculations, and read CSV files.

---
## Learning Outcomes

### Cognitive
- Explain Python syntax and data types
- Understand program execution

### Psychomotor
- Write Python programs
- Build a mini calculator
- Read CSV files

### Affective
- Develop confidence in programming
- Appreciate data accuracy

### Tool
- Jupyter Notebook (colab/Anaconda)

# Practical 1: Simple Python Script

Python executes instructions line by line.

In [1]:
print('Welcome to Python for Data Analysis')

Welcome to Python for Data Analysis

# Variables and Data Types

Python supports integers, floats, strings, and booleans.

In [2]:
# integer
age = 20

# float
height = 1.75

# string
name = 'Student'

# bool
has_passed = True

# print
# print(age, height, name, has_passed)
print("Name: ", name)
print("Age: ", age)
print("Height :", height)
print("Has passed: ", has_passed)

Name:  Student
Age:  20
Height : 1.75
Has passed:  True

# Type() function
In python you can use the type function to return the data type of a variable.

In [3]:
print(type(age))

<class 'int'>

In [4]:
print(type(height))

<class 'float'>

In [5]:
print(type(name))

<class 'str'>

In [6]:
print(type(has_passed))

<class 'bool'>

# Arithmetic Operations

In [7]:
# variables
a = 10
b = 5

# print arithmetic operations
print('Addition:', a + b)
print('Subtraction:', a - b)
print('Multiplication:', a * b)
print('Division:', a / b)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

# Input() Function

You may get input from the user using the **input()** function.

the data type returned by the input function is a string.
So you have to convert it to the data type you want to work with.

In [8]:
uname = input('Enter your name')

print("Name ", uname, "is of type", type(uname))

Enter your namedave
Name  dave is of type <class 'str'>

# Practical 2: Mini Calculator

In the example below we use the **float()** function to convert the first and second number we receive from the user to float data type, so that we work with floats.

In [9]:
# get first number from the user. The user would type this number using the keyboard
num1 = float(input('Enter first number: '))
# get second number from the user.
num2 = float(input('Enter second number: '))

print('Sum:', num1 + num2)
print('Difference:', num1 - num2)
print('Product:', num1 * num2)
print('Quotient:', num1 / num2)

Enter first number: 12
Enter second number: 10
Sum: 22.0
Difference: 2.0
Product: 120.0
Quotient: 1.2

# Practical 3: Calculator with Operation Selection

Notice that we use **if** and **elif** statement in python, so that our program can make decisions based on the value of the **op** variable we receive from the user.

In [10]:
num1 = float(input('Enter first number: '))
num2 = float(input('Enter second number: '))
op = input('Enter operation (+, -, *, /): ')

if op == '+':
    print(num1 + num2)
elif op == '-':
    print(num1 - num2)
elif op == '*':
    print(num1 * num2)
elif op == '/':
    print(num1 / num2)
else:
    print('Invalid operation')

Enter first number: 12
Enter second number: 4
Enter operation (+, -, *, /): /
3.0

# Practical 4: Reading CSV File

As a Data Scientist or Data Analyst you would usually work with a dataset.

A **dataset** is a structured collection of related data, typically organized in rows and columns (tabular format).

Popular formats for dataset files are **CSV** and **JSON**

**CSV** means **Comma-Separated Values**
**JSON** means **JavaScript Object Notation**

The code below shows how you would read a CSV file in python using the open command.

In [15]:
# open the csv file for the python script to read
file = open('DTS101_week2_student_scores.csv', 'r')

count = 0
# loop through and print out each line in the opened file for us to see
for line in file:
    count += 1
    print("line ", count, ": --> ", line)

    if count == 10:
        break

# close the file after we are done with our file operations
file.close()

student_id,math,english,physics,chemistry

S0001,65,70,72,11

S0002,53,47,78,24

S0003,50,46,25,44

S0004,45,47,45,25

S0005,53,56,62,28

S0006,45,47,45,35

S0007,45,46,49,25

S0008,53,46,59,41

S0009,45,46,45,35

# Practical 5: Extract Math Scores and Compute Average

In [16]:
# open the csv file for the python script to read
file = open('DTS101_week2_student_scores.csv', 'r')

# initial variables
total = 0
count = 0

# The next() function in Python retrieves the next item from an iterator
# for now, think of this line as us skipping the heading of our csv file
# (that contains student_id,math,english,physics,chemistry)
next(file)

# loop through the opened file
for line in file:
    # split the lines into different parts using the ',' as a delimiter
    parts = line.strip().split(',')
    # remember the math is at position 0
    math_score = int(parts[1])
    # calulate the total for math score
    total += math_score
    # count the line
    count += 1

# calculate and print the average for the math score
average = total / count
print('Average math score:', average)

# close the file
file.close()

Average math score: 49.90541279387644

# Assignment

Read CSV and display
1. Average english score
2. Average chemistry score
3. Average physics score
4. The first five student IDs and their chemistry scores

Upload your notebook to a Github repository.

Submit this notebook next week.